// COLORS

$black:         #222222;
$white:         #FFFFFF;
$lapis:         #1C5D99;
$moonstone:     #639FAB;
$powderblue:    #BBCDE5;

// ANIMATIONS

@mixin animation-standard{
    transition: all 0.2s ease;
}

@mixin gradient-background{
    background: linear-gradient( 150deg , rgba($color: $lapis, $alpha: 0.7) , rgba($color: $moonstone, $alpha: 0.7) );
}